/* Style the form to make it smaller */
.form-container {
    max-width: 400px; /* Adjust the maximum width of the form */
    margin: 0 auto; /* Center-align the form horizontally */
    padding: 20px; /* Add some padding to the form for spacing */
    background-color: rgba(19, 13, 13, 0.384); /* Adjust the background color and transparency */
    border-radius: 10px; /* Add rounded corners to the form container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986); /* Add a subtle box shadow for depth */
    color: white; /* Set text color to white */
}



/* Style the form labels for better readability */
.form-label {
    font-size: 14px; /* Adjust the font size of form labels */
}

/* Style the form controls (text fields) to make them smaller */
.form-control {
    padding: 5px 10px; /* Adjust padding for form controls */
    font-size: 14px; /* Adjust the font size of form controls */
    height: 30px; /* Adjust the height of form controls */
}

/* Style the submit button to make it smaller */
.btn {
    font-size: 14px; /* Adjust the font size of the button */
    padding: 8px 16px; /* Adjust padding for the button */
}