.table {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the last value (0.7) for transparency */
}

/* Style the table header for better readability */
.table thead {
    background-color: #f8f8f8; /* Add a light gray background for the table header */
}




