.transparent-card {
    background-color: rgba(0, 0, 0, 0.651); /* Adjust the last value (0.3) for transparency */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Box shadow for depth */
    text-align: center; /* Center-align the card content */
    max-width: 400px; /* Limit maximum width */
    margin: 0 auto; /* Center horizontally */
    color: white; /* Set text color to white */
}