/* Style the profile section container */
.profile-section {
    background-color: #29313679; /* Background color */
    color: #fff; /* Text color */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.952); /* Box shadow for depth */
    text-align: center; /* Center-align text */
    max-width: 400px; /* Limit maximum width */
    margin: 100px auto; /* Center both horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Style the profile title */
  .profile-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style the name */
  .profile-name {
    font-size: 20px;
  }
  
  /* Style the hr element */
  .profile-hr {
    border: 1px solid #fff;
    margin: 20px 0;
  }
  
  /* Style the contact info */
  .profile-contact {
    font-size: 18px;
  }
  
  /* Style the contact list items */
  .profile-contact li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  /* Style the reset password section */
  .reset-password-section {
    display: block;
    margin: 0 auto;
  }

  .profile-section button {
    display: block;
    margin: 0 auto;
  }
  