.transparent-card {
    background-color: rgba(36, 34, 34, 0.0); /* Adjust the last value (0.7) for transparency */
    padding-left: 25%;
    padding-right: 25%;
    text-align: center; /* Center-align the form elements */
    color: white;
}

  
  .transparent-card .form-group {
    width: 100%; /* Adjust the width as needed to make the form elements smaller */
    margin: 5 auto; /* Center the form elements horizontally */
  }
  
  .transparent-card .form-label,
  .transparent-card .form-control
   {
    background: transparent; /* Set the background of form elements and buttons to transparent */
    
    }
  .transparent-input {
    background-color: rgba(36, 34, 34, 0.7); /* !important to override Bootstrap styles */
    border: solid; /* Optional: Remove borders if desired */
    
  }