.carousel-image {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 10px;
    object-fit: cover;
    border-radius: 100px;
    
}

.cardHighlight {
    margin: 10px;
    
    border-radius: 10px; /* Add rounded corners to the form container */
    box-shadow: 0 0 10px rgb(0, 0, 0); 
}


.cardHighlight .card-title,
.cardHighlight .card-text {
    color: #fffffffd;
    -webkit-text-stroke: 1px black;
}
.content-container {
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center-align the container horizontally */
    padding: 20px; /* Add padding to create space around the content */
    
}
  
  /* Center-align the footer text */
  .content-container footer {
    text-align: center;
    margin-top: 20px; /* Add margin at the top of the footer */
  }


