.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  
  .navbar {
    margin-right: 50px;
    display: flex;
    align-items: center;
    
  }
  
  .navbar {
    text-decoration: none;
    color: white; /* Set the font color to white */
    /* margin-left: 50px; */
    font-size: 20px;
}