/* .shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  } */
  .product {
     
    white-space: nowrap; /* Prevent products from wrapping to the next line */
    margin-top: 20px; /* Add a margin to center vertically and avoid overlap with the navigation bar */
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    display: inline-block;
    margin-top: 20%;
    text-align: left;
    justify-content: center; /* Center products horizontally */
    align-items: center; /* Center products vertically */
    overflow-x: auto; /* Add horizontal scrolling if necessary */
    
  }
  
 
  
  .product .description {
    text-align: center;
    color: #f8f8ff;
    -webkit-text-stroke: 1px black;
}

.product {
    background-color: #24232300; /* Initial background color */
    transition: background-color 0.3s; /* Add a smooth transition */
    transform: scale(1); /* Initial scale */
    transition: transform 0.3s; /* Add a smooth transition for scaling */
}

/* Style to apply when the Card is hovered */
.product:hover {
    background-color: #1b1a1ad2; /* Change the background color when hovered */
    transform: scale(1.05); /* Scale the card slightly on hover */
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    color: #f8f8ff;
    -webkit-text-stroke: 1px black;
}

.addToCartBttn:hover {
    background-color: rgb(224, 45, 13);
    color: white;
    cursor: pointer;
}

.link-without-underline {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit the parent's color (text color) */
}

  
  
  
  
  
  
  
  
  
  
  

  
  