

.left {
	margin: 10%;
	margin-top: 5%;
}

.right {
	border: gray 1px;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10%;
	

}

.forgot {
	font-size: 12px;
}


h6 {
	padding-top: 8px;
	margin-top: 1rem;
	font-size: 13px;
}

h1	{
	font-size: 4rem;
	font-weight: 500;
}

h4 {
	font-weight: 500;
}